<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>

		<clear/>

		<add name="ChampionshipDB_ConnectionString"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=DEUS\SQLSERVER;Initial Catalog=ChampionshipDB;Integrated Security=true;Encrypt=False"/>

	</connectionStrings>
	
</configuration>