<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>

		<clear/>

		<add name="VegetablesFruitsDB_SqlConnectionString"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=DEUS\SQLSERVER;Initial Catalog=VegetablesFruitsDB;Integrated Security=true"/>
		
	</connectionStrings>
	
</configuration>